body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    display: inline-flex;
    margin-left: -5px;
    padding: 0px;
}
a {
    text-decoration: none;
    background: black;
    color: white;
    padding: 0px;
    margin: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    font-size: 18px;
}

a:hover {
    background: blue;
    color: black;
}